
.navbar {
    background-color: #000;
    padding: 20 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .img {
    width: 150px;
    height: auto;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu a {
    color: #000000;
    text-decoration: none;
    padding: 0 20px;
}

.navbar .menu a:hover {
    color: #272727;
}

.navbar .menu a.active {
    color: #000000;
}

.navbar .menu a.active:hover {
    color: #000000;
}

.navbar .nav-item .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}


