@import '/navbar.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

/* para que sea responsivo */
@media screen and (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px de ancho */
}

@media screen and (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho */
}

body {
    background-color: #f5f5f5;

}
header {
    width: 100%;
    height: auto;
    display: flexbox;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 10px 10px;
    color: white
}



.form .d-flex > button {
    background-color: #777777;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 500ms;
}

.form .d-flex > input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
}

.form .d-flex > input:focus {
    border: 1px solid #777777;
}

/*Compra todo para tu volkswagen*/

.container-lg {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

.container-lg h2 {
    font-size: 30px;
    margin-bottom: 20%;
    text-align: center;
}


/* Descubrí los accesorios*/

.container-accesorios {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-accesorios h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.container-accesorios .btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 500ms;
    position: relative;
}

.container-accesorios .btn:hover {
    background-color: #777777;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tarjetas { /*esto se refiere a la clase que se le puso al div que contiene las tarjetas*/
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.card-img-top {
    /*esto se refiere a la clase que se le puso a la imagen de la tarjeta*/
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all;
    transition-duration: 500ms;
    
}
.container-tarjetas .card-body h5 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.container-tarjetas .card-body p {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify;
}

/*footer*/

.pie-pagina {
    background-color: #000000;
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-encontrar .map-container iframe {
    width: 70%;
    height: auto;
    border: none;
    position: relative;
    padding: 10px 0px;
}
.links {
    flex: 1;
    margin: 10px;
    padding: 10px;
    text-align: center;
    /* Centra el texto en el div */
}

.icon-link {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    margin-top: 10px;
    /* Añade un margen superior para separar los logos del texto */
}

.box {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.icon-link img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all;
    transition-duration: 500ms;
}

.icon-link img:hover {
    transform: scale(1.2);
}

/* Ajusta estos estilos según tus necesidades */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}

/* div derechos reservados */

.grupo-2 {
    background-color: #000000;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}
